{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="use django to connect to relational-database and make a todo app">
        <meta name="keywords" content="django, postgresql">
        <title>task 1 - database manipulation</title>
        <link rel="stylesheet" href="{% static "src/output.css" %}">
        {% block script %}
        {% endblock script %} 
    </head>
    <body class="max-w-3xl mx-auto bg-slate-200">
        <nav class="flex flex-row gap-4 mb-4 mt-4">
            <a href="{% url 'todolist' %}" class="ml-0 px-4 py-2 bg-slate-700 text-slate-200">Task 1 - Database Manipulation</a>
            {% if user.is_authenticated %}
            <p class="ml-auto px-4 py-2 bg-slate-700 text-slate-200">* hi {{ user.username }} ! *</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="- Logout -" class="px-4 py-2 bg-slate-50 cursor-pointer">
            </form>
            {% else %}
            <a href="{% url 'login' %}" class="ml-auto px-4 py-2 bg-slate-50">+ Login +</a>
            {% endif %}
        {% block nav %}
        {% endblock nav %}
        </nav>
        {% block content %}
        {% endblock content %}
    </body>
</html>
