{% extends "../_base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h2 class="bg-slate-50 px-4 py-2 text-4xl font-serif mb-4">Password Change</h2>
    <form action="" method="post" class="bg-slate-50 p-4 flex flex-col mb-4">
        {% csrf_token %}
        <label for="id_old_password"
               class="block mb-2 text-sm font-medium text-slate-900 ">Old Password</label>
        {{ form.old_password |add_class:"focus:outline-none p-2.5 focus:ring-slate-500 text-sm text-slate-700 border-slate-300 border focus:border-slate-500 bg-slate-200 focus:ring w-80 mb-4" }}
        <label for="id_new_password1"
               class="block mb-2 text-sm font-medium text-slate-900 ">New Password</label>
        {{ form.new_password1 |add_class:"focus:outline-none p-2.5 focus:ring-slate-500 text-sm text-slate-700 border-slate-300 border focus:border-slate-500 bg-slate-200 focus:ring w-80 mb-4" }}
        <label for="id_new_password2"
               class="block mb-2 text-sm font-medium text-slate-900 ">Password Confirmation</label>
        {{ form.new_password2 |add_class:"focus:outline-none p-2.5 focus:ring-slate-500 text-sm text-slate-700 border-slate-300 border focus:border-slate-500 bg-slate-200 focus:ring w-80 mb-4" }}
        <input type="submit"
               value="Login"
               class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 h-10 w-fit block" />
    </form>
{% endblock content %}
