{% extends "_base.html" %}
{% block content %}
    <h1>產品</h1>
    <div class="d-flex flex-column gap-2 mb-4">
        <h2>新增</h2>
        <a href="{% url 'prod_create' %}" class="btn btn-info">新增產品</a>
        <a href="{% url 'prod_create_multiple' %}" class="btn btn-info">新增多個產品</a>
        <h2>更新</h2>
        <a href="{% url 'prod_update' last_prod.pk %}" class="btn btn-info">更新產品 (預設最後一個)</a>
        <a href="{% url 'prod_update_multiple' %}" class="btn btn-info">更新多個產品</a>
        <h2>刪除</h2>
        <a href="{% url 'prod_delete' last_prod.pk %}" class="btn btn-info">刪除產品 (預設最後一個)</a>
        <h2>讀取</h2>
        <a href="{% url 'prod_detail' last_prod.pk %}" class="btn btn-info">顯示產品 (預設最後一個)</a>
        <a href="{% url 'prod_list' %}" class="btn btn-info">顯示全部產品</a>
    </div>
    <h1>訂單</h1>
    <div class="d-flex flex-column gap-2 mb-4">
        <h2>新增</h2>
        <a href="{% url 'order_create_clipboard' %}" class="btn btn-info">由剪貼簿建立多筆訂單</a>
        <h2>讀取</h2>
        <a href="{% url 'order_list' %}" class="btn btn-info">顯示全部訂單</a>
        <a href="{% url 'order_rules' %}" class="btn btn-info">訂貨規則</a>
    </div>
{% endblock content %}
