{% extends "../_base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h2 class="bg-slate-50 px-4 py-2 text-4xl font-serif mb-4">Login</h2>
    <form action="" method="post" class="bg-slate-50 p-4 flex flex-col mb-4">
        {% csrf_token %}
        <label for="id_username"
               class="block mb-2 text-sm font-medium text-slate-900 ">Username</label>
        {{ form.username |add_class:"focus:outline-none p-2.5 focus:ring-slate-500 text-sm text-slate-700 border-slate-300 border focus:border-slate-500 bg-slate-200 focus:ring w-80 mb-4" }}
        <label for="id_password"
               class="block mb-2 text-sm font-medium text-slate-900 ">Password</label>
        {{ form.password |add_class:"focus:outline-none p-2.5 focus:ring-slate-500 text-sm text-slate-700 border-slate-300 border focus:border-slate-500 bg-slate-200 focus:ring w-80 mb-4" }}
        <p class="text-sm text-slate-700 mb-2">
            Forget password? Check <a href="{% url 'password_reset' %}"
    class="text-slate-400 hover:text-slate-300">here</a> to reset
        </p>
        <input type="submit"
               value="Login"
               class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 h-10 w-fit block" />
    </form>
{% endblock content %}
{% block nav %}
    <a href="{% url 'signup' %}" class="px-4 py-2 bg-slate-50">+ Sign Up +</a>
{% endblock nav %}
