{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">儀表板</a>
            </li>
            <li class="breadcrumb-item">
                <a href="">訂單管理</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">零散訂貨作業</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <button id="generate" class="btn btn-info">貼上</button>
            {% crispy form form.helper %}
        </div>
    </div>
{% endblock content %}
{% block head %}
    {% include "include/head/order_create_clipboard_before_create_head.html" %}
{% endblock head %}
