{% load widget_tweaks %}
{% load helper_tags %}
{% include "base_inputs/non_field_errors.html" with form=form %}
<div class="row row-cols-3">
    <div class="mb-3">
        {% with field=form.od_no %}
            {% include "base_inputs/label.html" with field=field %}
            {% include "base_inputs/input_field.html" with field=field field_with_filter=field %}
        {% endwith %}
    </div>
    <div class="mb-3">
        {% with field=form.od_mfr_user_id_username %}
            {% include "base_inputs/label.html" with field=field %}
            {% include "base_inputs/input_field.html" with field=field field_with_filter=field %}
        {% endwith %}
    </div>
    <div class="mb-3">
        {% with field=form.od_mfr_id %}
            {% include "base_inputs/input_field.html" with field=field field_with_filter=field %}
        {% endwith %}
    </div>
    <div class="mb-3">
        {% with field=form.od_mfr_full_id %}
            {% include "base_inputs/label.html" with field=field %}
            {% include "base_inputs/input_field.html" with field=field field_with_filter=field %}
        {% endwith %}
    </div>
    <div class="mb-3">
        {% with field=form.od_mfr_name %}
            {% include "base_inputs/label.html" with field=field %}
            {% include "base_inputs/input_field.html" with field=field field_with_filter=field %}
        {% endwith %}
    </div>
    <div class="mb-3"></div>
    <div class="mb-3">
        {% with field=form.od_date %}
            {% include "base_inputs/label.html" with field=field %}
            {% include "base_inputs/input_field.html" with field=field field_with_filter=field %}
        {% endwith %}
    </div>
    <div class="mb-3">
        {% with field=form.od_except_arrival_date %}
            {% include "base_inputs/label.html" with field=field %}
            {% include "base_inputs/input_field.html" with field=field field_with_filter=field|add_class:"dateinput" %}
        {% endwith %}
    </div>
    <div class="mb-3 col-12">
        {% with field=form.od_notes %}
            {% include "base_inputs/label.html" with field=field %}
            {% include "base_inputs/input_field.html" with field=field field_with_filter=field %}
        {% endwith %}
    </div>
    {% with contact_form_id=form|get_form_prefix|add:"-contact-form" %}
        <div class="mb-3 form-check form-switch ms-3">
            {% with field=form.od_has_contact_form %}
                {% include "base_inputs/label.html" with field=field %}
                {% comment %} TODO: if user click checkbox too fast, the checkbox collapse will broke {% endcomment %}
                {% with data_bs_toggle_attr="data-bs-toggle:collapse" data_bs_target_attr="data-bs-target:#"|add:contact_form_id aria_controls_attr="aria-controls:"|add:contact_form_id aria_expanded_attr="aria-expanded:true" %}
                    {% if form.od_has_contact_form|is_checked %}
                        {% include "base_inputs/checkbox_input_field.html" with field=field field_with_filter=field|attr:data_bs_toggle_attr|attr:data_bs_target_attr|attr:aria_controls_attr|attr:aria_expanded_attr %}
                    {% else %}
                        {% include "base_inputs/checkbox_input_field.html" with field=field field_with_filter=field|attr:data_bs_toggle_attr|attr:data_bs_target_attr|attr:aria_controls_attr %}
                    {% endif %}
                {% endwith %}
            {% endwith %}
        </div>
        <div class="collapse {% if form.od_has_contact_form|is_checked %}show{% endif %} col-12 mb-3"
             id="{{ contact_form_id }}">
            <div class="card card-body">
                <div class="row">
                    <div class="col mb-3">
                        {% with field=form.od_contact_form_no %}
                            {% include "base_inputs/label.html" with field=field %}
                            {% include "base_inputs/input_field.html" with field=field field_with_filter=field %}
                        {% endwith %}
                    </div>
                    <div class="col mb-3">
                        {% with field=form.od_warehouse_storage_fee_recipient %}
                            {% include "base_inputs/label.html" with field=field %}
                            {% include "base_inputs/input_field.html" with field=field field_with_filter=field %}
                        {% endwith %}
                    </div>
                </div>
                <div class="mb-3">
                    {% with field=form.od_contact_form_notes %}
                        {% include "base_inputs/label.html" with field=field %}
                        {% include "base_inputs/input_field.html" with field=field field_with_filter=field %}
                    {% endwith %}
                </div>
            </div>
        </div>
    {% endwith %}
</div>
