{% load widget_tweaks %}
{% load crispy_forms_field %}
{% load helper_tags %}
{% load i18n %}
{% comment %} TODO: product title will be empty when form is invalid {% endcomment %}
<div class="gap-3 d-flex flex-row mb-3">
    <div class="input-group">
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% elif field|is_delete %}
                {% include "base_inputs/input_field.html" with field=field field_with_filter=field|add_class:"d-none" %}
            {% elif field|is_select %}
                <span class="input-group-text">{{ field.label }}</span>
                {% include "base_inputs/input_field.html" with field=field field_with_filter=field|add_class:"form-select" %}
            {% else %}
                <span class="input-group-text">{{ field.label }}</span>
                {% include "base_inputs/input_field.html" with field=field field_with_filter=field %}
            {% endif %}
        {% endfor %}
    </div>
    {% translate "刪除" as delete_text %}
    {{ form.DELETE|add_class:"d-none delete-checkbox" }}
    <input type="button"
           value='{% translate "刪除" %}'
           class="btn btn-danger btn-delete">
</div>
