{% extends "_base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="bg-slate-50 p-4 mb-4">
        <div>
            <h2 class="text-4xl font-serif mb-4">{{ article.title }}</h2>
            <div class="text-sm text-slate-300 flex flex-row gap-2">
                <span class="ml-auto px-2 py-1 bg-slate-500">{{ article.date }}</span>
                <span class="px-2 py-1 bg-slate-500">Author {{ article.author.username }}</span>
            </div>
        </div>
        <article class="font-mono mb-4">{{ article.body }}</article>
        {% if article.author.pk == request.user.pk %}
            <div class="flex flex-row gap-2">
                <a href="{% url 'article_update' article.pk %}"
                   class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 h-10 w-fit block">Edit</a>
                <a href="{% url 'article_delete' article.pk %}"
                   class="bg-rose-500 hover:bg-rose-700 text-white font-bold py-2 px-4 h-10 w-fit block">Delete</a>
            </div>
        {% endif %}
    </div>
    {% for comment in article.comment_set.all %}
        <div class="bg-slate-50 p-4 mb-4">
            <div class="flex flex-row gap-2 mb-2 text-sm">
                <span class="font-semibold bg-slate-200 px-1">{{ comment.author }}</span>
                <span>{{ comment.comment_datetime }}</span>
            </div>
            <div>{{ comment.comment }}</div>
        </div>
    {% endfor %}
    {% if user.is_authenticated and article.author.pk != request.user.pk %}
        <div class="bg-slate-50 p-4 mb-4">
            <form action="" method="post">
                {% csrf_token %}
                <label for="id_comment"
                       class="block mb-2 text-sm font-medium text-slate-900 ">Comment</label>
                {{ form.comment|add_class:"focus:outline-none p-2.5 focus:ring-slate-500 text-sm text-slate-700 border-slate-300 border focus:border-slate-500 bg-slate-200 focus:ring w-80 mb-4" }}
                <input type="submit"
                       value="Comment"
                       class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 h-10 w-fit block" />
            </form>
        </div>
    {% endif %}
{% endblock content %}
