{% extends "_base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="bg-slate-50 p-4 ">
        <h2 class="text-4xl font-serif mb-4">Delete Article</h2>
        <p class="mb-4 text-xl">Do you really want to delete article "{{ object.title }}"?</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit"
                value="Delete"
                class="bg-rose-500 hover:bg-rose-700 text-white font-bold py-2 px-4 h-10 w-fit block" />
        </form>
    </div>
{% endblock content %}
{% block nav %}
    <a href="{% url 'signup' %}" class="px-4 py-2 bg-slate-50">+ Sign Up +</a>
{% endblock nav %}
