{% extends "_base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h2 class="bg-slate-50 px-4 py-2 text-4xl font-serif mb-4">Edit Article</h2>
    <form action="" method="post" class="bg-slate-50 p-4 flex flex-col mb-4">
        {% csrf_token %}
        {% csrf_token %}
        <label for="id_title" class="block mb-2 text-sm font-medium text-slate-900 ">Title</label>
        {{ form.title|add_class:"focus:outline-none p-2.5 focus:ring-slate-500 text-sm text-slate-700 border-slate-300 border focus:border-slate-500 bg-slate-200 focus:ring w-80 mb-4" }}
        <label for="id_body" class="block mb-2 text-sm font-medium text-slate-900 ">Body</label>
        {{ form.body|add_class:"focus:outline-none p-2.5 focus:ring-slate-500 text-sm text-slate-700 border-slate-300 border focus:border-slate-500 bg-slate-200 focus:ring mb-4 resize-verticle"|remove_attr:"cols" }}
        <input type="submit"
               value="Update"
               class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 h-10 w-fit block" />
    </form>
{% endblock content %}
{% block nav %}
    <a href="{% url 'signup' %}" class="px-4 py-2 bg-slate-50">+ Sign Up +</a>
{% endblock nav %}
