{% extends "_base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h2 class="page-title">Create Product</h2>
    <form action=""
          method="post"
          class="container flex flex-col mb-4"
          enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock content %}
