{% extends "_base.html" %}
{% block content %}
    <div class="container">
        <table class="min-w-full divide-y divide-gray-200">
            <thead>
                <tr>
                    <th class="px-6 py-3 bg-slate-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Product Name
                    </th>
                    <th class="px-6 py-3 bg-slate-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Product Description
                    </th>
                    <th class="px-6 py-3 bg-slate-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Product Image
                    </th>
                    <th class="px-6 py-3 bg-slate-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Product Type
                    </th>
                    <th class="px-6 py-3 bg-slate-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Product Quantity
                    </th>
                    <th class="px-6 py-3 bg-slate-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Product Status
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for prod in prods %}
                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap">{{ prod.prod_name }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap">{{ prod.prod_desc|truncatechars:8 }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap">
                            <img src="{{ prod.prod_img.url }}"
                                 alt="{{ prod.prod_desc }}"
                                 height="100"
                                 width="auto">
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap">{{ prod.prod_type }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap">{{ prod.prod_quantity|truncatechars:8 }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap">{{ prod.prod_status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
