{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load helper_tags %}
{% block head %}
    {% include "include/head/order_create_multiple_head.html" %}
{% endblock head %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% with order_formset=named_formset.order_formset %}
            {{ order_formset.management_form }}
            {% for form in order_formset %}
                {% include "base_inputs/non_field_errors.html" with form=form %}
                {% include "include/order_form.html" with form=form %}
                {% with prods_formset=named_formset.prods_formset_list|index:forloop.counter0 loop_index=forloop.counter0|stringformat:"i" %}
                    {% with prefix="id_orderprod_"|add:loop_index %}
                        {{ prods_formset.management_form }}
                        {% for prod_form in prods_formset %}
                            {% include "include/orderprod_grid_table.html" with form=prod_form prefix=prefix can_delete=prods_formset.can_delete %}
                        {% endfor %}
                    {% endwith %}
                {% endwith %}
            {% endfor %}
        {% endwith %}
        <input type="submit" value="建立" class="btn btn-primary">
    </form>
{% endblock content %}
