{% extends "_base.html" %}
{% load prod_extra %}
{% load django_tables2 %}
{% block content %}
    <ul>
        {% for object in object_list %}
            <li>{{ object.mfr_id }} / {{ object.mfr_full_id }} / {{ object.mfr_name }}</li>
        {% empty %}
            <li>no data</li>
        {% endfor %}
    </ul>
    {% if filter %}
        <form action="" method="get">
            {{ filter.form.as_p }}
            <input type="submit" value="query">
        </form>
    {% endif %}
    {% if form %}{{ form.as_p }}{% endif %}
    <div class="pagination">
        <span class="page-item">
            {% if page_obj.has_previous %}
                <a href="?{% query_transform mfr_page=page_obj.previous_page_number %}"
                   class="page-link ">{% include "icon/bootstrap_icons.html" with icon="caret-left-fill" %}</a>
            {% else %}
                <a class="page-link cursor-not-allowed">{% include "icon/bootstrap_icons.html" with icon="caret-left-fill" %}</a>
            {% endif %}
        </span>
        <span class="page-item">
            <span class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
        </span>
        <span class="page-item">
            {% if page_obj.has_next %}
                <a href="?{% query_transform mfr_page=page_obj.next_page_number %}"
                   class="page-link">{% include "icon/bootstrap_icons.html" with icon="caret-right-fill" %}</a>
            {% else %}
                <a class="page-link cursor-not-allowed">{% include "icon/bootstrap_icons.html" with icon="caret-right-fill" %}</a>
            {% endif %}
        </span>
    </div>
    <input type="button" value="產生訂單" field="btn-place-order">
    {% render_table table %}
{% endblock content %}
{% block head %}
    {{ filter.form.media }}
    {% include "include/head/order_circulated_order_head.html" %}
{% endblock head %}
