{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% include "include/order_form.html" with form=form %}
        {% with named_formset.orderprod as formset %}
            {{ formset.management_form }}
            {% for form in formset %}
                {% include "include/orderprod_grid_table.html" with form=form %}
            {% endfor %}
        {% endwith %}
        <input type="submit" value={% translate "更新" %} class="btn btn-primary">
    </form>
{% endblock content %}
{% block head %}
    {% include "include/head/order_update_head.html" %}
{% endblock head %}
