{% extends "_base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="card">
        <div class="card-header">{{ prod.prod_name }}</div>
        {% if prod.prod_img %}
            <img src="{{ prod.prod_img.url }}"
                 height="256px"
                 width="256px"
                 alt="Product Image"
                 class="card-img-top" />
        {% else %}
            {% include "include/prod_no_image.html" %}
        {% endif %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">類別: {{ prod.prod_cate_no }}</li>
            <li class="list-group-item">銷售狀態: {{ prod.get_prod_sales_status_display }}</li>
            <li class="list-group-item">品保狀態: {{ prod.get_prod_quality_assurance_status_display }}</li>
            <li class="list-group-item">生效日期: {{ prod.prod_effective_date }}</li>
            <li class="list-group-item">數量: {{ prod.prod_quantity }}</li>
        </ul>
        <div class="card-footer d-flex flex-row gap-2">
            <a href="{% url 'prod_update' prod.pk %}">{% include "icon/bootstrap_icons.html" with icon="pencil-square" %}</a>
            <a href="{% url 'prod_create' %}">{% include "icon/bootstrap_icons.html" with icon="plus-circle" %}</a>
            <a href="{% url 'prod_delete' prod.pk %}">{% include "icon/bootstrap_icons.html" with icon="trash" %}</a>
        </div>
    </div>
{% endblock content %}
