{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block head %}
    <script>{% include "prod_create_multiple.js" %}</script>
{% endblock head %}
{% block content %}
    {% comment %} TODO: add server side verification {% endcomment %}
    <h2 class="page-title">新增多個商品</h2>
    <form action="" method="post">
        {{ form | crispy }}
        <input id="btn_create"
               type="submit"
               value="新增"
               disabled
               class="btn btn-primary disabled">
    </form>
    <p id="output"></p>
{% endblock content %}
{% block nav %}
    <li class="nav-item">
        <a href="{% url 'prod_create' %}" class="nav-link">新增商品</a>
    </li>
{% endblock nav %}
