{% extends "../_base.html" %}
{% load widget_tweaks %}
{% block content %}
    <h2 class="bg-slate-50 px-4 py-2 text-4xl font-serif mb-4">Sign Up</h2>
    <form action="" method="post" class="bg-slate-50 p-4 flex flex-col mb-4">
        {% csrf_token %}
        {% for field in form %}
            {{ field.errors }}
            <label for="{{ field.auto_id }}" class="label-normal">{{ field.label }}</label>
            {{ field }}
        {% endfor %}
        <input type="submit"
               value="Signup"
               class="bg-slate-500 hover:bg-slate-700 text-slate-50 font-bold py-2 px-4 h-10 w-fit block" />
    </form>
{% endblock content %}
