<script type="text/javascript">
    $(function () {
        $("#ajax-button").on("click", function () {
            $.ajax({
                url: '{% url "ajax_get_category" %}',
                success: (data) => {
                    $("#ajax-response").text(data.message);
                },
            });
        });

        let query = $("#id_query");
        let timeout;
    
        query.on("keyup", (_) => {
            input_query = _.target
            clearTimeout(timeout)
            timeout = setTimeout(function() {
                // search_by_conditions(_.target.value)
                query.parent().submit()
            }, 800);
        });
        
    
        function search_by_conditions(conditions) {
            $.ajax({
                url: '{% url "ajax_get_prods" %}',
                method: "get",
                data: query.serialize(),
                success: (data) => {
                    console.log(data)
                },
            });
        }
    });
</script>
