# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# Database
*.sqlite3

# Log files
*.log

# nodejs packages
node_modules

# compiled static fiels
staticfiles
